<nav>
  <div class="nav-wrapper blue">
    <a href="/" class="brand-logo" style="margin-left: 20px;">Mi Sitio</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Inicio</a></li>
      <li><a href="/about">Acerca de</a></li>
      <li><a href="/contact">Contacto</a></li>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/games">Videojuegos</a></li>
    </ul>
  </div>
</nav>
