<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>

  <!-- Navbar -->
  <%- include('partials/navbar') %>

  <div class="container center-align">
    <h3>Bienvenido a la Página de Inicio</h3>
    <p>Este es un sitio web desarrollado con Express y EJS.</p>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
    